aiohttp==3.6.2
appnope==0.1.0
APScheduler==3.6.3
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
autobahn==20.7.1
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cheroot==8.4.5
click==7.1.2
coverage==5.3
cryptography==3.1
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
lxml==4.5.2
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==8.5.0
multidict==4.7.6
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.19.2
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
portend==2.6
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.0
pyparsing==2.4.7
pyrsistent==0.17.3
pyTelegramBotAPI==3.7.3
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
Send2Trash==1.5.0
simpervisor==0.3
six==1.15.0
soupsieve==2.0.1
tempora==4.0.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
yarl==1.5.1
zc.lockfile==2.0
